<h1 style='color:#123456'>Basic Data Types in Python</h1>

<p style='color:#123456'>Data types are those rules that defines data, that how data looks and how we can store them and what kind of operation we can perform on them.</p>

<img src='data_type.png'>

In [3]:
5 + 9

14

In [4]:
print(5+9)

14

In [11]:
x = 6
print(type(x))

<class 'int'>

In [12]:
print(dir(x))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [13]:
print(x)

6

In [14]:
print(x.__sizeof__())

28

In [15]:
x.bit_length()

3

In [16]:
y = 12321321312321213213213212874981296216398217392179862194619287492817214

In [17]:
y.bit_length()

233

In [1]:
x = 1443
print(type(x))
print("value of ",x)

<class 'int'>
value of  1443

In [1]:
y = 3.15
print(type(y))
print("value of ",y)

<class 'float'>
value of  3.15

<h1 style='color:#123456'>Strings</h1>

In [3]:
one = "Hello World I am a string in python"

In [4]:
print(one)

Hello World I am a string in python

In [5]:
two = 'I am too string same as one. we used for single line.'

In [6]:
print(two)

I am too string same as one. we used for single line.

In [7]:
print("Type of one : ",type(one))
print("Type of two : ",type(two))

Type of one :  <class 'str'>
Type of two :  <class 'str'>

In [8]:
three = "Hello\n\t\tWorld\n\n\t\t\t\tWelcome to python"
print(three)

Hello
		World

				Welcome to python

In [9]:
three

'Hello\n\t\tWorld\n\n\t\t\t\tWelcome to python'

In [10]:
four = """Hello world,
This is awesome in python.
        we can write as para as it is in python.
so let's discover it"""

In [11]:
four

"Hello world,\nThis is awesome in python.\n        we can write as para as it is in python.\nso let's discover it"

In [12]:
print(four)

Hello world,
This is awesome in python.
        we can write as para as it is in python.
so let's discover it

In [13]:
s = "He said, "Python is a very wide language""

SyntaxError: invalid syntax (<ipython-input-13-e993266904a0>, line 1)

In [14]:
s = "He said, \"Python is a very wide language\""
print(s)

He said, "Python is a very wide language"

In [15]:
s = 'He said, "python is awesome."'
print(s)

He said, "python is awesome."

In [16]:
print(s[6])

d

In [17]:
s = "Hello World"
s[6]

'W'

In [18]:
print(s[-3])

r

In [19]:
s[0:5]

'Hello'

In [20]:
s

'Hello World'

In [21]:
s1 = s[0:5]
print(s)
print(s1)

Hello World
Hello

In [22]:
s[6:11]

'World'

In [23]:
s[3:7]

'lo W'

In [24]:
s[:5]

'Hello'

In [25]:
s[6:]

'World'

In [26]:
s[3:10:2]

'l ol'

In [28]:
s[-1:-6:-1]

'dlroW'

In [29]:
s[:-1]

'Hello Worl'

In [30]:
s[:-2]

'Hello Wor'

In [31]:
s[::-1]

'dlroW olleH'

In [32]:
s[:2:-1]

'dlroW ol'

In [33]:
s[::3]

'HlWl'

In [34]:
s = "Hello World"
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [35]:
help(s.capitalize)

Help on built-in function capitalize:

capitalize(...) method of builtins.str instance
    S.capitalize() -> str

    Return a capitalized version of S, i.e. make the first character
    have upper case and the rest lower case.

In [40]:
print(s.capitalize.__doc__)

S.capitalize() -> str

Return a capitalized version of S, i.e. make the first character
have upper case and the rest lower case.

In [41]:
print(s)
s1 = s.capitalize()
print(s1)

Hello World
Hello world

In [42]:
s.upper()

'HELLO WORLD'

In [43]:
s.lower()

'hello world'

In [44]:
s.swapcase()

'hELLO wORLD'

In [45]:
s = "Hello World"
s1 = "hello woRLD"

In [49]:
s.lower() == s1.lower()

True

In [50]:
s.casefold() == s1.casefold()

True

In [62]:
s = "x123"

In [63]:
s.isidentifier()

True

In [64]:
s = "9782131159"

In [65]:
s.isnumeric()

True

In [66]:
s.isdigit()

True

In [67]:
s.isdecimal()

True

In [68]:
s.isalpha()

False

In [69]:
s = "s1234"
s.isalpha()

False

In [73]:
s = "helloworld"
s.isalpha()

True

In [76]:
s = "HelloWorld123"
s.isalnum()

True

In [77]:
print(dir(s))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [79]:
s = "                  Hello World             "
print("{!r}".format(s))

'                  Hello World             '

In [81]:
print("{!r}".format(s))
s1 = s.lstrip()
print("{!r}".format(s1))
s2 = s.rstrip()
print("{!r}".format(s2))
s3 = s.strip()
print("{!r}".format(s3))

'                  Hello World             '
'Hello World             '
'                  Hello World'
'Hello World'

In [84]:
s = "Hello World"
print(s)
print(s.center(1000,'-'))

Hello World
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Hello World---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [89]:
s = "Hello World"
print("hey",s.rjust(150))

hey                                                                                                                                            Hello World

<h1 style='color:#123456'>Lists in PYTHON</h1>

<h2 style='color:red'>Q. What is a list according to you ? </h2>

<h3 style='color:#123456'>Ans. List is just collection of items where item is a valid object of python language such as can be list, string, number or other types.</h3>

<h1 style='color:red'>Q. Type of list ? </h1>

<ol style='color:blue'>
<li>Homogenous --> all items are same type eg. [ 1, 2, 3, 4] or [ 'h','i','abc']</li>
<li>Hetrogenous --> items are of different type eg. [1,2.14,'hello',['h',1,2],1]</li>
<ol>

<h1 style='color:red'>What is difference b/w array and list ? </h1>

<h2 style='color:#123456'>All arrays are list but all lists are not arrays. as arrays are homogenous lists<h2>

In [3]:
mylist = [ 1,2,3,4,5] # homogenous list
mylist1 = ['python','java','c',1,2,3,'bye bye'] # hetrogenous list
print("Type = ",type(mylist))
print("Type = ",type(mylist1))
print(mylist)
print(mylist1)

Type =  <class 'list'>
Type =  <class 'list'>
[1, 2, 3, 4, 5]
['python', 'java', 'c', 1, 2, 3, 'bye bye']

In [4]:
mylist = [ 'hello',1,23,5,6,3422,32,'hi',343,4,'bye']
print(mylist)
print(dir(mylist))

['hello', 1, 23, 5, 6, 3422, 32, 'hi', 343, 4, 'bye']
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [5]:
mylist

['hello', 1, 23, 5, 6, 3422, 32, 'hi', 343, 4, 'bye']

In [6]:
mylist[2]

23

In [7]:
mylist[::2]

['hello', 23, 6, 32, 343, 'bye']

In [9]:
mylist[::-1]

['bye', 4, 343, 'hi', 32, 3422, 6, 5, 23, 1, 'hello']

In [10]:
mylist[0]

'hello'

In [11]:
mylist = [
    [1,2,3,4],
    [5,6,7,8],
    ['hi','hello','bye','bye bye'],
    'python is awesome'
]

In [12]:
mylist

[[1, 2, 3, 4],
 [5, 6, 7, 8],
 ['hi', 'hello', 'bye', 'bye bye'],
 'python is awesome']

In [14]:
mylist[2]

['hi', 'hello', 'bye', 'bye bye']

In [15]:
mylist[2][3]

'bye bye'

In [16]:
print(dir(mylist))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

<h1 style='color:#123654'>Adding items to list</h1>

<ol style='color:#123654'>
    <li>mylist.append(item) --> item will be added at the end of list mylist</li>
    <li>mylist.insert(index,item) --> item will be added at position index into list mylist</li>
    <li>mylist.extend(sequence) --> items from sequence will be appended into list</li>
    </ol>

In [17]:
mylist = [ 1,2,'hello','hi',4,5,6]

In [18]:
mylist.append('python')
print(mylist)

[1, 2, 'hello', 'hi', 4, 5, 6, 'python']

In [19]:
mylist.append(1)

In [20]:
mylist

[1, 2, 'hello', 'hi', 4, 5, 6, 'python', 1]

In [22]:
mylist.append([1,2,3,45])

In [23]:
mylist

[1, 2, 'hello', 'hi', 4, 5, 6, 'python', 1, [1, 2, 3, 45]]

In [24]:
mylist.insert(5,'something')
mylist

[1, 2, 'hello', 'hi', 4, 'something', 5, 6, 'python', 1, [1, 2, 3, 45]]

In [25]:
mylist.insert(0,'hi')
print(mylist[3])
mylist

hello

['hi', 1, 2, 'hello', 'hi', 4, 'something', 5, 6, 'python', 1, [1, 2, 3, 45]]

In [26]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [29]:
mylist = [ 'hello','hi',1,2,3,'python','java',4,5]
print(mylist)

['hello', 'hi', 1, 2, 3, 'python', 'java', 4, 5]

In [30]:
mylist.extend('python')
print(mylist) #[ 'hello','hi',1,2,3,'python','java',4,5,'python']

['hello', 'hi', 1, 2, 3, 'python', 'java', 4, 5, 'p', 'y', 't', 'h', 'o', 'n']

In [31]:
mylist = [ 'hello',1,2,3]
mylist.extend([4,5,6,'hey','bye bye'])

In [32]:
mylist

['hello', 1, 2, 3, 4, 5, 6, 'hey', 'bye bye']

<h1 style='color:red'>List Methods to remove items from list</h1>

<ol style='color:#123456'>
    <li>mylist.pop() --> it will last item from list (opposite of append) </li>
    <li>mylist.pop(index) --> it will delete item at position index from list mylist</li>
    <p style='color:red'>Note:-> both of these function return the value or item that is deleted from list. </p>
    <li>mylist.remove(item) --> it will remove item from list mylist</li>
    </ol>

In [33]:
mylist

['hello', 1, 2, 3, 4, 5, 6, 'hey', 'bye bye']

In [34]:
print(mylist)
d1 = mylist.pop()
print(d1,"is deleted from list mylist ")
print(mylist)
d2 = mylist.pop()
print(d2,"is deleted from list mylist")
print(mylist)

['hello', 1, 2, 3, 4, 5, 6, 'hey', 'bye bye']
bye bye is deleted from list mylist
['hello', 1, 2, 3, 4, 5, 6, 'hey']
hey is deleted from list mylist
['hello', 1, 2, 3, 4, 5, 6]

In [35]:
mylist

['hello', 1, 2, 3, 4, 5, 6]

In [36]:
mylist.pop(0)

'hello'

In [37]:
mylist

[1, 2, 3, 4, 5, 6]

In [39]:
mylist.pop(3)

4

In [40]:
mylist = [ 'hey','hello','hey','hello',1,2,'sachin','bye']

In [42]:
mylist.remove('sachin')

In [43]:
mylist

['hey', 'hello', 'hey', 'hello', 1, 2, 'bye']

In [44]:
mylist.remove('bye')
mylist.remove(1)
mylist.remove(2)
print(mylist)

['hey', 'hello', 'hey', 'hello']

In [45]:
mylist.remove('hey')
print(mylist)

['hello', 'hey', 'hello']

In [46]:
'hello' in mylist

True

In [47]:
'abracadabra' in mylist

False

<h1 style='color:red'>Common Functions of list</h1>
<ol style='color:#123456'>
    <li>mylist.sort() --> it will sort your list in ascending order</li>
    <li>mylist.sort(reverse=True) --> it will sort list in descending order</li>
    <p style='color:red'>Note :- for sort function list should be homogenous</p>
    <li>mylist.reverse() --> it reverse list same as mylist[::-1]</li>
    <li>mylist.copy() --> it will return copy of your list</li>
    <li>mylist.index(item) --> it will return index of item inside list</li>
    <li>mylist.count(item) --> it will repeatition of item inside list</li>
    <li>mylist.clear() --> it will delete all items from list</li>
    </li>

In [55]:
from random import randint
x = [ randint(1,100) for var in range(19) ]
print(x)

[31, 62, 94, 40, 36, 98, 35, 41, 84, 26, 41, 8, 13, 14, 66, 67, 55, 55, 92]

In [57]:
y = x.copy()

In [60]:
print(x)
x.sort()
print(x)

[31, 62, 94, 40, 36, 98, 35, 41, 84, 26, 41, 8, 13, 14, 66, 67, 55, 55, 92]
[8, 13, 14, 26, 31, 35, 36, 40, 41, 41, 55, 55, 62, 66, 67, 84, 92, 94, 98]

In [62]:
print(y)
y.sort(reverse=True)
print(y)

[31, 62, 94, 40, 36, 98, 35, 41, 84, 26, 41, 8, 13, 14, 66, 67, 55, 55, 92]
[98, 94, 92, 84, 67, 66, 62, 55, 55, 41, 41, 40, 36, 35, 31, 26, 14, 13, 8]

In [63]:
x = [ 'Abc','def','hello','java','python','Ruby','perl']

In [64]:
x.sort()

In [65]:
x

['Abc', 'Ruby', 'def', 'hello', 'java', 'perl', 'python']

In [66]:
x = [ [ 'hello','hi'],['bye','something'],['good','to','go'] ]
x.sort()

In [67]:
x

[['bye', 'something'], ['good', 'to', 'go'], ['hello', 'hi']]

In [68]:
x.reverse()

In [69]:
x

[['hello', 'hi'], ['good', 'to', 'go'], ['bye', 'something']]

In [70]:
x = [ 1,'hello',3,3,]

In [71]:
x.reverse()

In [72]:
x

[3, 3, 'hello', 1]

In [75]:
x = [ 1,1,1,11,11,1,1,1,1,1,1,1,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]

In [77]:
x.count(1)

33

In [78]:
x.count(11)

2

In [80]:
x.count(22)

0

In [81]:
x  = [ randint(1,100) for var in range(100) ]

In [82]:
print(x)

[35, 54, 50, 84, 24, 66, 58, 13, 54, 28, 100, 3, 40, 44, 81, 93, 19, 65, 5, 48, 48, 73, 63, 27, 93, 55, 62, 1, 82, 97, 51, 20, 73, 71, 86, 54, 92, 52, 87, 5, 50, 67, 42, 83, 38, 99, 6, 46, 47, 33, 6, 3, 46, 65, 99, 84, 50, 70, 21, 75, 28, 32, 28, 23, 92, 73, 16, 6, 62, 66, 6, 89, 90, 21, 20, 28, 48, 15, 14, 34, 54, 67, 93, 58, 42, 41, 21, 30, 93, 46, 6, 48, 23, 3, 88, 21, 18, 11, 12, 88]

In [83]:
x.index(89)

71

In [84]:
x.index(6)

46

In [96]:
x = [ 2,3,6,3,45,6]
print(x.count(6))
first = x.index(6)
print("find first 6 on index ",first)
second =  x[first+1:].index(6) + first + 1
print("find second 6 on index ",second)

2
find first 6 on index  2
find second 6 on index  5

In [86]:
x = [ 'hello','hi',[1,2,3],'something']

In [87]:
x.index('hi')

1

In [88]:
x.index([1,2,3])

2

In [97]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [98]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [99]:
mylist

['hello', 'hey', 'hello']

In [100]:
mylist.clear()

In [101]:
mylist

[]

<h1 style='color:#123456'>Tuple</h1>

In [2]:
t  = ( 1, 3.14, 'hello', ['hey','hi','bye'], 3.14, 5+6j )

In [3]:
print(type(t))

<class 'tuple'>

In [4]:
print(t)

(1, 3.14, 'hello', ['hey', 'hi', 'bye'], 3.14, (5+6j))

In [7]:
print(*t)

1 3.14 hello ['hey', 'hi', 'bye'] 3.14 (5+6j)

In [8]:
print("python")
print(*"python")

python
p y t h o n

In [9]:
t

(1, 3.14, 'hello', ['hey', 'hi', 'bye'], 3.14, (5+6j))

In [10]:
t[::-1]

((5+6j), 3.14, ['hey', 'hi', 'bye'], 'hello', 3.14, 1)

In [11]:
t[2:6:2]

('hello', 3.14)

In [12]:
t[2] = 'overwrite'

TypeError: 'tuple' object does not support item assignment

In [13]:
t

(1, 3.14, 'hello', ['hey', 'hi', 'bye'], 3.14, (5+6j))

In [14]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style='color:red'>Dictionary in Python</h1>

In [2]:
mydict = {
    'name'  : 'python',
    'year' : 1991,
    'versions' : ['python 1.X','python 2.X','python 3.X'],
}

In [3]:
print(mydict)

{'name': 'python', 'year': 1991, 'versions': ['python 1.X', 'python 2.X', 'python 3.X']}

In [5]:
mydict['name']

'python'

In [6]:
mydict['versions']

['python 1.X', 'python 2.X', 'python 3.X']

In [8]:
print(dir(mydict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [9]:
old_dict = mydict.copy()

In [10]:
print(mydict)
print(old_dict)

{'name': 'python', 'year': 1991, 'versions': ['python 1.X', 'python 2.X', 'python 3.X']}
{'name': 'python', 'year': 1991, 'versions': ['python 1.X', 'python 2.X', 'python 3.X']}

In [11]:
mydict.clear()

In [12]:
print(mydict)
print(old_dict)

{}
{'name': 'python', 'year': 1991, 'versions': ['python 1.X', 'python 2.X', 'python 3.X']}

In [13]:
mydict = old_dict.copy()
mydict

{'name': 'python',
 'year': 1991,
 'versions': ['python 1.X', 'python 2.X', 'python 3.X']}

In [14]:
print(dir(mydict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [23]:
new_dict = mydict.fromkeys(['Day1','Day2','Day3'],0)

In [24]:
new_dict

{'Day1': 0, 'Day2': 0, 'Day3': 0}

In [25]:
mydict['name']

'python'

In [30]:
mydict.get('name','default')

'python'

In [27]:
mydict['abracadabra']

KeyError: 'abracadabra'

In [29]:
mydict.get('abracadabra','Default')

'Default'

In [31]:
mydict

{'name': 'python',
 'year': 1991,
 'versions': ['python 1.X', 'python 2.X', 'python 3.X']}

In [32]:
mydict.items()

dict_items([('name', 'python'), ('year', 1991), ('versions', ['python 1.X', 'python 2.X', 'python 3.X'])])

In [33]:
mydict.keys()

dict_keys(['name', 'year', 'versions'])

In [34]:
mydict.values()

dict_values(['python', 1991, ['python 1.X', 'python 2.X', 'python 3.X']])

In [36]:
print(dir(mydict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [39]:
mydict.pop('name')

'python'

In [40]:
mydict

{'year': 1991, 'versions': ['python 1.X', 'python 2.X', 'python 3.X']}

In [41]:
mydict.popitem()

('versions', ['python 1.X', 'python 2.X', 'python 3.X'])

In [42]:
mydict

{'year': 1991}

In [43]:
mydict.setdefault('name','python')

'python'

In [44]:
mydict

{'year': 1991, 'name': 'python'}

In [45]:
mydict.setdefault('year',1994)

1991

In [46]:
mydict

{'year': 1991, 'name': 'python'}

In [47]:
mydict.items()

dict_items([('year', 1991), ('name', 'python')])

In [48]:
mydict.update([('name','PYTHON'), ('year',1994), ('father','Guido Van Rossum')])

In [49]:
mydict

{'year': 1994, 'name': 'PYTHON', 'father': 'Guido Van Rossum'}

In [50]:
mydict['name'] = 'python'

In [51]:
mydict

{'year': 1994, 'name': 'python', 'father': 'Guido Van Rossum'}

In [52]:
mydict['versions'] = ['python 1.0','python 2.0',]

In [53]:
mydict

{'year': 1994,
 'name': 'python',
 'father': 'Guido Van Rossum',
 'versions': ['python 1.0', 'python 2.0']}

In [56]:
mydict['versions'].append('python 3.0')

In [57]:
mydict

{'year': 1994,
 'name': 'python',
 'father': 'Guido Van Rossum',
 'versions': ['python 1.0', 'python 2.0', 'python 3.0']}

In [58]:
python = {        
    'name':'python',
    'father' : 'Guido Van Rossum',
    'versions' : ['1.X','2.X','3.X'],
    'current_version' : 'python 3.7',
    'modules' : {
                'web' : ['Django','Falsk','Web2py','Pyramid'],
                'GUI' : [ 'tkinter','wxpython','kivy',],
                'DS' : ['Pandas','Numpy'],
                'ML' : ['Sklearn','scipy'],
                'AUTOMATION' : ['Ansible','Openstack','Salt'],
                },
    'type' : 'Interpreted',
            }

In [59]:
print(python)

{'name': 'python', 'father': 'Guido Van Rossum', 'versions': ['1.X', '2.X', '3.X'], 'current_version': 'python 3.7', 'modules': {'web': ['Django', 'Falsk', 'Web2py', 'Pyramid'], 'GUI': ['tkinter', 'wxpython', 'kivy'], 'DS': ['Pandas', 'Numpy'], 'ML': ['Sklearn', 'scipy'], 'AUTOMATION': ['Ansible', 'Openstack', 'Salt']}, 'type': 'Interpreted'}

In [60]:
from pprint import pprint
pprint(python)

{'current_version': 'python 3.7',
 'father': 'Guido Van Rossum',
 'modules': {'AUTOMATION': ['Ansible', 'Openstack', 'Salt'],
             'DS': ['Pandas', 'Numpy'],
             'GUI': ['tkinter', 'wxpython', 'kivy'],
             'ML': ['Sklearn', 'scipy'],
             'web': ['Django', 'Falsk', 'Web2py', 'Pyramid']},
 'name': 'python',
 'type': 'Interpreted',
 'versions': ['1.X', '2.X', '3.X']}

In [63]:
print(python['modules']['GUI'][1])

wxpython

<h1 style='color:#123456'>Sets in Python</h1>

In [64]:
s = ''
k = []
l = ()
print("{!r}".format(s))
print(k)
print(l)

''
[]
()

In [65]:
s = { 1,2,3,1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3}
print("Type of s = ",type(s))
print(s)

Type of s =  <class 'set'>
{1, 2, 3}

In [66]:
s = {}
print("type of s = ",type(s))
print(s)

type of s =  <class 'dict'>
{}

In [67]:
s = set()
print(type(s))
print(s)

<class 'set'>
set()

In [72]:
print(dir(s))
s = { var for var in range(1,16)}

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [69]:
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [70]:
s1 = { 1,2,3,4,5,6,7,8}
s2 = { 4,5,6,7,9,10}
s3 = { 6,7,8,9,11}
s4 = { 13,14}
print("s = ",s)
print("s1 = ",s1)
print("s1 = ",s2)
print("s1 = ",s3)
print("s1 = ",s4)

s =  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}
s1 =  {1, 2, 3, 4, 5, 6, 7, 8}
s1 =  {4, 5, 6, 7, 9, 10}
s1 =  {6, 7, 8, 9, 11}
s1 =  {13, 14}

In [75]:
s.issubset(s1)

False

In [78]:
s1.intersection(s3).intersection(s2)

{6, 7}

In [79]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [81]:
s1.difference(s2).difference(s3)

{1, 2, 3}

Type Conversion --> Operators -->

<h1 style='color:red'>Type Conversion</h1>

In [2]:
int('1235')

1235

In [3]:
x = input("number : ")
print("{!r}".format(x))
print("Type of x = ",type(x))

number : 145
'145'
Type of x =  <class 'str'>

In [4]:
x = int(input("Number : "),10)
print("{!r}".format(x))
print("Type of x = ",type(x))

Number : 465
465
Type of x =  <class 'int'>

In [6]:
print(int.__doc__)

int(x=0) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [9]:
int('123abc',16) #16-->hexadecimal

1194684

In [12]:
x = '1010101010001'
int(x,2)

5457

In [13]:
int('123',8)

83

In [14]:
oct(123)

'0o173'

In [15]:
hex(156)

'0x9c'

In [16]:
bin(255)

'0b11111111'

In [17]:
bin(172)

'0b10101100'

In [18]:
bin(192)

'0b11000000'

In [19]:
float(input("float"))

float234.34

234.34

In [21]:
complex(input())

56+46j

(56+46j)

In [22]:
str(972492189)

'972492189'

In [23]:
str([1,2,3,23,2])

'[1, 2, 3, 23, 2]'

In [24]:
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [26]:
list(('hi','hello'))

['hi', 'hello']

In [27]:
d = { 'name':'sachin','work':'trainer'}

In [28]:
l  = list(d)
print(l)

['name', 'work']

In [29]:
l = list(d.keys())

In [30]:
l

['name', 'work']

In [31]:
list(d.values())

['sachin', 'trainer']

In [32]:
list(d.items())

[('name', 'sachin'), ('work', 'trainer')]

In [33]:
tuple(d.items())

(('name', 'sachin'), ('work', 'trainer'))

In [37]:
dict(['12','py','hi','hi'])

{'1': '2', 'p': 'y', 'h': 'i'}

In [38]:
dict([ ('name','grras'), ('type','Training Center'), ('owner','rajat') ])

{'name': 'grras', 'type': 'Training Center', 'owner': 'rajat'}

In [40]:
set('python')

{'h', 'n', 'o', 'p', 't', 'y'}

In [41]:
print(sachin)

NameError: name 'sachin' is not defined

<h1 style='color:#123456' > Operators</h1>

####

In [43]:
4+5

9

In [44]:
'5'+4

TypeError: must be str, not int

<h1>Arithmatic</h1>

+ --> add number, concatenate string,list,tuple --> return something
- --> subtract number
* --> multiply numbers, repeate string,list,tuple --> return something
/ --> divie number (absolute divison)
// -->floor division ( integer division) --> return  quotient
% --> modulas --> return remainder
** --> power function

In [47]:
 5 + 6

11

In [48]:
'hello ' + 'world '

'hello world '

In [53]:
x = [ 'hi','bye',1] + ['good','bad','something']
print(x)

['hi', 'bye', 1, 'good', 'bad', 'something']

In [54]:
x = (1,2,3)+('hey','hi')

In [55]:
x

(1, 2, 3, 'hey', 'hi')

In [56]:
d = { 'ab':1,'bc':2} + {'ab':'hi','one','hi'}

SyntaxError: invalid syntax (<ipython-input-56-0924863281a3>, line 1)

In [57]:
6-8

-2

In [58]:
'hello ' - 'world'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [59]:
'hi'*3

'hihihi'

In [63]:
s = 'Python\n'*100
s = s.format()
print(s)

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [65]:
l = [ 'hello','hi','bye','bye bye','good']
s = "{} varchar(50), "*5
print("{!r}".format(s.format(*l)))

'hello, hi, bye, bye bye, good, '

In [67]:
s = "{} varchar(50), "*5 #"{} varchar(50), {} varchar(50), {} varchar()"
cmd  = 'create table user(' + s.format(*l)[:-1]+')'
print(cmd)

create table user(hello varchar(50), hi varchar(50), bye varchar(50), bye bye varchar(50), good varchar(50),)

In [68]:
l = [ 'hi',1,2,3]*5

In [69]:
l

['hi', 1, 2, 3, 'hi', 1, 2, 3, 'hi', 1, 2, 3, 'hi', 1, 2, 3, 'hi', 1, 2, 3]

In [75]:
l = [ 'raam','jai','jai','raam',]*108
print(*l)

raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam raam jai jai raam

In [71]:
l = [ [],]*5
print(l)

[[], [], [], [], []]

In [72]:
l = []*5
print(l)

[]

print('python',sep='\n')
print(*'python')
print([1,2,3,4])
print(*[1,2,3,4])

In [82]:
round(56/3,3)

18.667

In [83]:
x = input("Enter your equation = ")
print("Result = ",eval(x))

Enter your equation = 5*10-50/3**6
Result =  49.93141289437586

In [84]:
#calc
print("Result = ",eval(input("Expression : ")))

Expression : 500+500-700+(100*10)
Result =  1300

In [85]:
print(10/3)
print(10//3)
print(10%3)

3.3333333333333335
3
1

In [86]:
7 % 22

7

In [87]:
2 ** 2

4

In [88]:
2 ** 3

8

In [89]:
2 ** 8

256

In [90]:
pow(3,4)

81

In [91]:
#exponent

In [92]:
x = 5**3+3*4/2-5+10//2

In [93]:
x

131.0

In [94]:
x = (5**3)/5*(10/2)

<h1>Comparision</h1>

In [95]:
# < , > , <= , >= , == , != return True or False check from left to right

In [96]:
4 > 4

False

In [97]:
3 > 4

False

In [98]:
4 > 3

True

In [99]:
4 >= 4

True

In [100]:
4 != 4

False

In [101]:
4 != 5

True

In [102]:
'hello' != 'bye'

True

In [105]:
'sachin'.casefold() == 'SACHIN'.casefold()

True

<h1 > Logical Operators</h1>

In [107]:
# and --> True and True --> True , else False
# or --> False or False --> False , else True
#True not --> Flase, else True

In [108]:
# '', (), [], {},set(), None, False, 0 --> These are consider as flase
# anything else is True

In [109]:
'a' and 'b'

'b'

In [110]:
0 and 1

0

In [111]:
-12 and 'hi'

'hi'

In [112]:
1 and 0

0

In [113]:
None and 1

In [114]:
False and True

False

In [115]:
False or True

True

In [117]:
0 or 1

1

In [118]:
0 or False

False

In [119]:
5 < 6 and 6 > 8

False

In [120]:
#assignment o/p
x = 5

In [121]:
# += , -=, *= , /=, //=, %=, **=

In [122]:
x = 5
y = 6
x += y # x = x + y

In [123]:
x

11

In [124]:
l = [ 'hello', 'hi',1,2,3]

In [125]:
'sachin' in l

False

In [126]:
'hello' in l

True

In [128]:
'sachin' not in 'sachin is a great person.'

False

In [130]:
#('sachin','great') in 'sachin is great' 
#membership o/p

TypeError: 'in <string>' requires string as left operand, not tuple

In [131]:
x = 5
y = 5
print(id(x))
print(id(y))

1610247360
1610247360

In [132]:
x is y 
#identity o/p

True

In [133]:
x is not y

False

In [134]:
x = "{} is bye {}".format('sachin','yadav')