In [2]:
i = 11
print("Loop will start from here")
while i <= 10 :
    i = 1
    print("Whola i am inside the loop for repeatation")
    print("Hello {}".format(i))
    i = i + 1
print("Loop ends here")

Loop will start from here
Loop ends here

In [9]:
i = 0
print("Loop will start from here")
while i <= 10 :
    if i == 3 : 
        break
    print("Whola i am inside the loop for repeatation")
    print("Hello {}".format(i))
    i = i + 1
print("Loop ends here")

Loop will start from here
Whola i am inside the loop for repeatation
Hello 0
Whola i am inside the loop for repeatation
Hello 1
Whola i am inside the loop for repeatation
Hello 2
Loop ends here

In [5]:
i = 0
print("Loop will start from here")
while i <= 10 :
    print("Hello World Times {}".format(i))
    i = i + 3
print("Loop ends here")

Loop will start from here
Hello World Times 0
Hello World Times 3
Hello World Times 6
Hello World Times 9
Loop ends here

In [10]:
i = 1
while i <= 50 : 
    if i >= 10 : 
        print("bye bye ")
        break
    print("Hey how you doing Times {}".format(i))
    i += 1
else :
    print("Will I print or not ? ")

Hey how you doing Times 1
Hey how you doing Times 2
Hey how you doing Times 3
Hey how you doing Times 4
Hey how you doing Times 5
Hey how you doing Times 6
Hey how you doing Times 7
Hey how you doing Times 8
Hey how you doing Times 9
bye bye

In [11]:
i = 1
while i <= 10 : 
    if i % 7 == 0  : 
        break
    print("Hello World {}".format(i))
    i += 2
else : 
    print("should i do something for you ? ")

Hello World 1
Hello World 3
Hello World 5

In [13]:
i = 1
while i <= 10 : 
    if i % 7 == 0  : 
        break
    print("Hello World {}".format(i))
    i = 2*i 
else : 
    print("should i do something for you ? ")

Hello World 1
Hello World 2
Hello World 4
Hello World 8
should i do something for you ?

In [14]:
i = 1 
while i <= 10 : 
    
    if i == 5 : 
        continue
    print("Hello World Times {}.".format(i))
    i += 1
else : 
    print("Hey can you see that ? ")

Hello World Times 1.
Hello World Times 2.
Hello World Times 3.
Hello World Times 4.

KeyboardInterrupt:

In [15]:
i = 1 
while i <= 10 :  
    if i % 2 : 
        i += 1
        continue
    print("Hello World Times {}.".format(i))
    i += 1
else : 
    print("Hey can you see that ? ")

Hello World Times 2.
Hello World Times 4.
Hello World Times 6.
Hello World Times 8.
Hello World Times 10.
Hey can you see that ?

In [16]:
i = 0
while i <= 10 :
    i += 1
    if i % 2 : 
        print(i)
    else  : 
           continue
else : 
    print("What will Happen ? ")

1
3
5
7
9
11
What will Happen ?

In [17]:
i = 0 
while i <= 10 : 
    if i % 2 and i > 8 : 
        break 
    elif i % 3 : 
        i += 3
        continue 
    else : 
        print("Hello World {}.".format(i))
    i += 1
else : 
    print("Let me know i will run or not ? ")

Hello World 0.
Let me know i will run or not ?

In [18]:
while input("prompt : "):
    print("Hello World")
    print("How are you")

prompt : d
Hello World
How are you
prompt : d
Hello World
How are you
prompt : d
Hello World
How are you
prompt : None
Hello World
How are you
prompt : False
Hello World
How are you
prompt :

In [19]:
while True : 
    x = int(input("Enter a number : "))
    print("squre of num is ",x**2)
    if input("Press any key to continue : ") : 
        continue
    else : 
        break
else : 
    print("I am useless i will never print")

Enter a number : 5
squre of num is  25
Press any key to continue : y
Enter a number : 34
squre of num is  1156
Press any key to continue :

for i in seq : 
    st1
    st2
    st3

In [20]:
for var in 'python' : 
    print(var)

p
y
t
h
o
n

In [25]:
for var in [1,2,3,4,5,6,7,8,9,10]: 
    print("Hello World Times ",var)

Hello World Times  1
Hello World Times  2
Hello World Times  3
Hello World Times  4
Hello World Times  5
Hello World Times  6
Hello World Times  7
Hello World Times  8
Hello World Times  9
Hello World Times  10

In [26]:
s = "python"
type(s)

str

In [28]:
s = iter(s)
type(s)

str_iterator

In [29]:
next(s)

'p'

In [30]:
next(s)

'y'

In [35]:
next(s)

StopIteration:

In [2]:
s = "Hello World how are you "
for x in s : 
    print(x,end='\t')

H	e	l	l	o	 	W	o	r	l	d	 	h	o	w	 	a	r	e	 	y	o	u

In [3]:
l = [ 'hello',1,2,3,'hi','python','java','c','c++']
print(l)

['hello', 1, 2, 3, 'hi', 'python', 'java', 'c', 'c++']

In [5]:
for item in l : 
    print(item)

hello
1
2
3
hi
python
java
c
c++

In [7]:
info = { 'name':'sachin',
        'age':22,'country':'india',
        'hobby':'cricket','blood_group':'B+ive'}

In [8]:
print(info)

{'name': 'sachin', 'age': 22, 'country': 'india', 'hobby': 'cricket', 'blood_group': 'B+ive'}

In [9]:
for something in info : 
    print(something)

name
age
country
hobby
blood_group

In [15]:
info['blood_group']

'B+ive'

In [18]:
for key in info : 
    print("{} = {}".format(key,info[key]))

name = sachin
age = 22
country = india
hobby = cricket
blood_group = B+ive

In [19]:
x = 5
y = 6
print(x,y)
x,y = y,x
print(x,y)

5 6
6 5

In [20]:
x = 1,2,3,"hello"
print(x)
print(type(x))

(1, 2, 3, 'hello')
<class 'tuple'>

In [24]:
x,y = 45
print(x)
print(y)
print(id(x))
print(id(y))

TypeError: 'int' object is not iterable

In [25]:
l = [ 'ab','cd','ef','gh','ij','kl']
for v1,v2 in l : 
    print("This time v1 = {} and v2 = {} ".format(v1,v2))

This time v1 = a and v2 = b
This time v1 = c and v2 = d
This time v1 = e and v2 = f
This time v1 = g and v2 = h
This time v1 = i and v2 = j
This time v1 = k and v2 = l

In [26]:
l = [ ('hello','hi'), ('bye','bye'),('python','awesome'),('c','super awesome')]

In [27]:
print(l)

[('hello', 'hi'), ('bye', 'bye'), ('python', 'awesome'), ('c', 'super awesome')]

In [28]:
for x,y in l : 
    print("x = {} and y = {} ".format(x,y),end='\n\n')

x = hello and y = hi

x = bye and y = bye

x = python and y = awesome

x = c and y = super awesome

In [29]:
info.items()

dict_items([('name', 'sachin'), ('age', 22), ('country', 'india'), ('hobby', 'cricket'), ('blood_group', 'B+ive')])

In [30]:
for key,value in info.items():
    print("{} = {} ".format(key,value))

name = sachin
age = 22
country = india
hobby = cricket
blood_group = B+ive

In [33]:
l = [ (1,2,3,4),(5,6,7,8),('hello','hi','bye','bye')]
for p,q,r,s in l : 
    print(p,q,r,s,sep=', ',end='\n\n')

1, 2, 3, 4

5, 6, 7, 8

hello, hi, bye, bye

In [36]:
l = [ (1,2,3,4),(5,6,7,8),('hello','hi','bye','bye')]
for var in l : 
    for value in var : 
        print(value,end=', ')
    print('\n')

1, 2, 3, 4,

5, 6, 7, 8,

hello, hi, bye, bye,

In [51]:
l1 = [ 1,2,3,4,5,6]
l2 = [ 7,3,2,4,5,7]

for v1,v2 in zip(l1,l2) : 
    print(v1,v2)

1 7
2 3
3 2
4 4
5 5
6 7

In [53]:
c = 1
for kuch_bhi in 'akskdkfkdk' : 
    print("Hello World",c)
    c = c + 1

Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9
Hello World 10

In [54]:
num = int(input("Enter a number : "))
c = 1
for kuch_bhi in 'akskdkfkdk' : 
    print("{}x{}={}".format(num,c,num*c))
    c = c + 1

Enter a number : 13
13x1=13
13x2=26
13x3=39
13x4=52
13x5=65
13x6=78
13x7=91
13x8=104
13x9=117
13x10=130

In [55]:
l = []
for var in 'abdad' : 
    name = input("Enter a name : ")
    l.append(name)
print(l)

Enter a name : sachin
Enter a name : rajat
Enter a name : nidhi
Enter a name : gaurav
Enter a name : ravi
['sachin', 'rajat', 'nidhi', 'gaurav', 'ravi']

In [59]:
#list compression
names = [ input("Enter name of person{} : ".format(var)) for var in '12345']
print(names)

Enter name of person1 : sachin
Enter name of person2 : yahoo
Enter name of person3 : google
Enter name of person4 : facebook
Enter name of person5 : grras
['sachin', 'yahoo', 'google', 'facebook', 'grras']

In [65]:
x = input("Give me an input : ").split()
print(x)

Give me an input : hi hello by bye bye
['hi', 'hello', 'by', 'bye', 'bye']

In [68]:
names = input('Enter five names , seprated : ').split(',')

Enter five names , seprated : sachin,nidhi,rajat,grras,yahoo

In [69]:
names

['sachin', 'nidhi', 'rajat', 'grras', 'yahoo']

In [70]:
five_num = input("Enter five numbers space seprated : ").split()
print(five_num)

Enter five numbers space seprated : 1 2 3 4 5
['1', '2', '3', '4', '5']

In [71]:
n = []
for var in five_num : 
    n.append(int(var))

In [72]:
n

[1, 2, 3, 4, 5]

In [73]:
five_num = list(map(int,input("Enter five numbers : ").split()))

Enter five numbers : 1 2 3 4 5

In [74]:
five_num

[1, 2, 3, 4, 5]

In [82]:
l = [] 
for var in range(int(input())): 
    data = input().split()
    if data[0] == 'print' : 
        print(l)
    elif data[0] == 'append' : 
        l.append(int(data[1]))
    elif data[0] == 'insert' : 
        l.insert(int(data[1]),int(data[2]))
    elif data[0] == 'sort' : 
        l.sort()
    elif data[0] == 'reverse' : 
        l.reverse()
    elif data[0] == 'pop' : 
        l.pop()
    elif data[0] == 'remove' : 
        l.remove(int(data[1]))

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [1]:
range(10)

range(0, 10)

In [6]:
x = range(5)
list(x)

[0, 1, 2, 3, 4]

In [10]:
x = range(1,101)
print(list(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [12]:
x = range(100,1,-1)
print(list(x))

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [14]:
x = range(13,131,13)
print(*list(x))

13 26 39 52 65 78 91 104 117 130

In [21]:
num = int(input("Enter a number : "))
print(*list(range(num,(num*10)+1,num)),sep='\n')

Enter a number : 13
13
26
39
52
65
78
91
104
117
130

In [26]:
num = int(input("Enter a number : "))
l = [ print(var) for var in range(num,num*10+1,num)]
print(l)

Enter a number : 13
13
26
39
52
65
78
91
104
117
130
[None, None, None, None, None, None, None, None, None, None]

In [28]:
from random import randint
l = [ randint(1,100) for var in range(50)]
print(l)

[48, 76, 82, 44, 95, 98, 34, 28, 19, 33, 32, 6, 50, 92, 92, 41, 16, 14, 27, 91, 54, 48, 32, 17, 24, 35, 3, 98, 8, 52, 29, 87, 81, 67, 28, 88, 98, 79, 39, 67, 64, 85, 31, 88, 75, 20, 41, 74, 2, 77]

In [29]:
from random import randint
l  = []
for var in range(50) :
    random_num = randint(1,100)
    l.append(random_num)
print(*l)

28 73 51 32 73 6 63 68 17 84 54 45 94 9 36 42 58 99 57 91 21 43 43 72 52 13 50 82 80 90 84 74 23 17 98 69 79 79 72 91 30 30 27 1 93 4 2 63 58 60

In [30]:
list(range(-10,-1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2]

In [32]:
#-1,-100,3
l = list(range(-3,-100,-3))
print(l)

[-3, -6, -9, -12, -15, -18, -21, -24, -27, -30, -33, -36, -39, -42, -45, -48, -51, -54, -57, -60, -63, -66, -69, -72, -75, -78, -81, -84, -87, -90, -93, -96, -99]

In [34]:
from time import sleep
print("Hello World")
sleep(5)
print("Okay bye now")

Hello World
Okay bye now

In [35]:
print?

In [36]:
def hello(name):
    print("Welcome")
    print("Hello Mr. ",name)
    return 'jai ho'

In [37]:
st = hello('sachin')

Welcome
Hello Mr.  sachin

In [38]:
print(st)

jai ho